<form ng-submit="registervm.onSubmit()">
	<div class="form-group">
		<label for="name">{{ 'user.fullname' | translate }}</label>
		<input type="text" class="form-control" id="name" placeholder="{{'user.inputname' | translate }}" ng-model="registervm.credentials.name">
	</div>
	<div class="form-group">
		<label for="email">{{ 'user.email' | translate }}</label>
		<input type="email" class="form-control" id="email" placeholder="{{ 'user.inputemail' | translate }}" ng-model="registervm.credentials.email">
	</div>
	<div class="form-group">
		<label for="password">{{ 'user.password' | translate }}</label>
		<input type="password" class="form-control" id="password"
			placeholder="{{ 'user.password' | translate }}"
			ng-model="registervm.credentials.password">
	</div>
	<button type="submit" class="btn btn-default">{{'register' | translate }}!</button>
</form>