<form ng-submit="loginvm.onSubmit()"> 
	<div class="form-group">
		<label for="email">{{ 'user.email' | translate }}</label>
		<input type="email" class="form-control" id="email" placeholder="{{ 'user.inputemail' | translate }}" ng-model="loginvm.credentials.email">
	</div>
	<div class="form-group">
		<label for="password">{{ 'user.password' | translate }}</label>
		<input type="password" class="form-control" id="password" placeholder="{{ 'user.password' | translate }}" ng-model="loginvm.credentials.password">
	</div>
	<div ng-show="loginvm.authfail">
		<p style="color: red" id="authfailMessage" >
			{{ loginvm.errMessage | translate }}
		</p>
	</div>
	<button type="submit" class="btn btn-default">{{ 'signin' | translate }}</button>
</form>