<div id="contentDiv">
	<div id="chatContainer" class="row">
		<div id="contactsDiv" class="col-md-3">

			<ul class="nav nav-tabs">
				<li role="chatcategories" class="active chatcategory all">
					<a href="#" ng-click="chatScope.chatCategoryClick('all')">
						<span class="glyphicon glyphicon-asterisk"></span>
					</a>
				</li>
				<li role="chatcategories" class="chatcategory user">
					<a href="#" ng-click="chatScope.chatCategoryClick('user')">
						<span class="glyphicon glyphicon-user"></span>
					</a>
				</li>
				<li role="chatcategories" class="chatcategory group">
					<a href="#" ng-click="chatScope.chatCategoryClick('group')">
						<span class="glyphicon glyphicon-th-large"></span>
					</a>
				</li>
			</ul>

			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				
				<button type="button" class="btn btn-default btn-conver" ng-click="chatScope.selectConver(conver)"
						ng-repeat="conver in chatScope.conversations | categoryFilter: chatScope.chatCategory">
					<span class="glyphicon glyphicon-{{ conver.category == 'group' && 'th-large' || 'user' }}" ></span>
					{{ conver.name }}
				</button>
			</div>
		</div>

		<div id="chatboxDiv" class="col-md-9">
			<div id="conversationDiv">
				<div ng-repeat="message in chatScope.selectedConver.messages">
					<div class="panel message {{ message.from == 'me' && 'panel-success mine' || 'other' }}">
						
						<div class="panel-heading">
							{{message.message}}
						</div>
						
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div id="messageControlsDiv">
				<div class="col-sm-10">
					<textarea class="form-control" ng-model="chatScope.textToSend" ng-keyup="$event.keyCode == 13 && chatScope.sendMsg()" ></textarea>
				</div>
				<div class="col-sm-2">
					<a href="" class="btn btn-success" ng-click="chatScope.sendMsg()">
						<span class="glyphicon glyphicon-send"></span>
						Send
					</a>
				</div>
			</div>
		</div>
	</div>
</div>