<md-dialog aria-label="Create Group Form" translate-namespace="newgroup">
	<ng-form action="/creategroup" method="post" name="createGroupForm" >
		<md-content>
			<h3 translate>.title</h3>
			<md-input-container class="md-block">
			
				<label for="groupName" translate>.groupname</label>
				<input ng-model="groupName" aria-invalid="false" required
					class="ng-pristine ng-valid md-input ng-empty ng-touched" >
				
			</md-input-container>

		</md-content>
	</ng-form>
	<md-button ng-click="submit()" class="md-accent md-cornered md-raised" ng-disabled="groupName.length < 2">
		<span translate>.submit</span>
	</md-button>
</md-dialog>