<md-dialog aria-label="Add Friend Form">
	<md-content>
		<h3>Add a new friend</h3>

		<form ng-submit="$event.preventDefault()" name="addFriendForm">

			<div layout-gm-sm="row">

				<md-autocomplete flex required
						md-input-name="autocompleteField"
						md-input-minlength="2"
						md-input-maxlength="32"
						md-no-cache="noCache"
						md-selected-item="selectedItem"
						md-search-text="searchText"
						md-items="item in querySearch(searchText)"
						md-item-text="item.name"
						md-floating-label="Search for a friend">
					<md-item-template>
						<span md-highlight-text="searchText">{{item.name}}</span>
					</md-item-template>
					<div ng-messages="addFriendForm.autocompleteField.$error" ng-if="addFriendForm.autocompleteField.$touched">
						<div ng-message="required">You <b>must</b> have a favorite state.</div>
						<div ng-message="md-require-match">Please select an existing state.</div>
						<div ng-message="minlength">Your entry is not long enough.</div>
						<div ng-message="maxlength">Your entry is too long.</div>
					</div>
				</md-autocomplete>

				<md-button ng-click="submit(selectedItem)">
					Add friend
				</md-button>
			</div>
		</form>

	</md-content>
</md-dialog>