<!DOCTYPE html>
<html ng-app="myChatini">
<head>
	<title><%= title %></title>

	<% if( process.env.DEV_ENV ) { %>
		<script type="text/javascript" src="javascripts/angular/angular.js" ></script>
		<script type="text/javascript" src="javascripts/angular/angular-ui-router.js" ></script>
		<!--<script type="text/javascript" src="javascripts/jquery.min.js" ></script>
		<script type="text/javascript" src="javascripts/bootstrap.min.js" ></script>-->
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<% } else { %>
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
		<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
		<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
	<% } %>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script type="text/javascript" src="javascripts/main.min.js" ></script>

</head>
<body>
<div id="wrap">
	
	<navigation></navigation>

	<div ui-view></div>
	
</div>
<div id="footer">
	FOOTER;
</div>

<% if( process.env.DEV_ENV ) { %>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<% } %>
</body>
</html>
