
@link-color: #00B7FF;
@border-color: lightgray;

@bgCreamColor: #fff7ef;
@selectedCategoryColor: @bgCreamColor;

@footerHeight: 40px;

a {
	color: @link-color;
}
md-toolbar a {
	color: #dddddd;
}
.myBorder {
	border: 2px solid @border-color;
	border-radius: 5px;
}

body{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#footer {
	background-color: lightblue;
	height: @footerHeight;
	.myBorder;
}

.active.chatcategory > a {
	background-color: @selectedCategoryColor;
}

md-list-item > button {
	width: 100%;
	margin: 0 5px;
	//text-align: left !important;
}

.message {
	min-width: 40%;
	margin: 10px;
}
.message.mine {
	float: right;
	clear: both;
}
.message.other {
	float: left;
	clear: both;
}

#chatContainer {
	background-color: lightyellow;
}

.unscrollable #conversationDiv {
	margin-bottom: 54px;
}

.unscrollable #messageControlsDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
}


