body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#contactsDiv {
	border: solid 2px lightgray;
	padding: 5px;
}
#chatboxDiv {
	background-color: bisque;
}
