
@link-color: #00B7FF;
@border-color: lightgray;

@bgCreamColor: #fff7ef;
@selectedCategoryColor: @bgCreamColor;

@footerHeight: 40px;

a {
	color: @link-color;
}
.myBorder {
	border: 2px solid @border-color;
	border-radius: 5px;
}

html, body {
	height: 100vh;
}

body{
	padding: 0 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Wrapper for page content to push down footer */
div#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -@footerHeight;
	/* Pad bottom by footer height */
	padding: 0 0 @footerHeight;
}
#headerDiv {
	//height: inherit;
}
#contentDiv {
	
	height: 100%;
	position: relative;
	margin-bottom: 10px;
	
}
#footer {
	background-color: lightblue;
	height: @footerHeight;
	.myBorder;
}

#chatContainer {
	background-color: lightyellow;
	//position:absolute;

	margin: 10px 0px;

	#chatboxDiv {
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 300px;
		background-color: lightcyan;

		.myBorder;

		#conversationDiv {
			width: 100%;
			min-height: 200px;
			background-color: lightgray;

			.message {
				min-width: 40%;
				margin: 10px;
			}
			.message.mine {
				float: right;
				clear: both;
			}
			.message.other {
				float: left;
				clear: both;
			}
		}
		
		#messageControlsDiv {
			div {
				padding: 0;
			}
			textarea {
				resize: none;
			}
			.btn {
				width: 100%;
				position: relative;
				margin: auto;
			}
		}
	}

	#contactsDiv {
		min-height: 300px;
		.myBorder;

		> ul > li.active.chatcategory > a {
			background-color: @selectedCategoryColor;
		}

		// Wrapper for the buttons.
		> div.btn-group-vertical {
			width: 100%;
			padding: 5px;
			border: 1px solid #ddd;
			border-top: 0px;
			border-radius: 0 0 4px 4px;
			background-color: @selectedCategoryColor;
			margin-bottom:10px;
		}
		// Individual Chat person/group button.
		// > div > button.btn.btn-chati {}
	}
	
}



