<md-toolbar layout="row">
	<md-button class="md-icon-button" ng-click="navvm.toggleSidenav()" aria-label="Open Side Menu" hide-gt-sm>
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</md-button>
	<span class="navbar-brand">
		<strong>
			Chatini
		</strong>
	</span>
	<div class="container">
		<div id="navbar-main">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="navvm.isLoggedIn"><a href="login">Sign in</a></li>
				<li ng-show="navvm.isLoggedIn"><a href="" ng-click="navvm.notifClick()">
					<span class="glyphicon glyphicon-bell"></span>	
				</a></li>
				<li ng-show="navvm.isLoggedIn"><a href="profile">{{ navvm.currentUser.name }}</a></li>
				<li ng-show="navvm.isLoggedIn"><a href="" ng-click="navvm.logout()">Log Out</a></li>
			</ul>
		</div>
	</div>
</md-toolbar>