<div layout="column" flex>
	
	<div ng-if="!vm.isLoggedIn" layout="row" flex>

		<div flex>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{ 'homepage.newtochatini' | translate }}
					</h3>
				</div>
				<div class="panel-body">
					<register-form></register-form>
				</div>
			</div>
		</div>

		<div flex>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{ 'homepage.alreadymember' | translate }}
					</h3>
				</div>
				<div class="panel-body">
					<login-form></login-form>
				</div>

			</div>
			
		</div>
	</div>

	<div ng-if="vm.isLoggedIn" layout="column" flex>
		<chatini layout="column" flex></chatini>
	</div>

</div>
